<div class="container">
  <h5>Welcome to github-search.The center where you will be able to see your github details on searching your username.</h5>
      <div id="code">
        <div id="form">
          <form #search='ngForm' (ngSubmit)="findUser(search.name)" class="tuma">
            <input type="text" name="name" #name='ngModel' [(ngModel)]='search.name' id="user"
              placeholder="Enter GithubName">
            <button class="button">Search</button>
          </form>
        </div>
    </div>
    <div class="row">
    <div class="col-sm">
      <div *ngIf="profile" class="side column">
        <div class="image">
          <img class="rounded-circle z-depth-10" src="{{ profile.avatar_url}}" alt="profileimg"
            data-holder-rendered="true"><br>
            <button type="button" class="btn btn-danger px-3"><a href="{{profile.html_url}}" target="_blank"><b>VIEW PROFILE</b></a><i class="fas fa-users" aria-hidden="true"></i></button>

      

        </div>
      </div>
    </div>
      <div class="col-sm">
        <ul>
          <li class="followers" style="text-align: center"><strong>Followers </strong> <br>{{profile.followers}}</li>
          <li class="following" style="text-align: center"><strong>Following </strong> <br>{{profile.following}}</li>
          <li class="prepos" style="text-align: center"><strong> Repos</strong> <br>{{profile.public_repos}}</li>
        </ul>
    </div>
  </div>
  </div>
