@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');
#code{
font-family: 'Courgette', cursive;
background-attachment: fixed;
}
.rounded-circle{
    width: 150px;
    height: 150px;
}
#form{
    margin-top: 10%;
}
#space{
justify-content: space-between;
width: 33.33%;

}
ul {
    list-style-type: none;
   }
#form{
    
    margin-left: 2%;
    text-align: center;
}
.button {
    text-align: center;
    cursor: pointer;
    outline: none;
    color: black;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
  }
  #user{
    border-radius: 15px;
    width: 75%;
  }
  /* input, textarea {
    background-color :  #3e8e41;
  } */
  ::-webkit-input-placeholder {
    color:black;
  }
  
  :-ms-input-placeholder {
    color :black;
  }
  
  ::placeholder {
    color:black;
  }
  ul>li{
      border: 2px solid green;
      width: 100px;
      height: 50px;
  }
  ul
{
  display:flex;  
  list-style:none;
}