<div class="container">
  <div class="row">
    <div class="col-sm">
      <div id="code">
        <div id="form column">
          <form #search='ngForm' (ngSubmit)="findUser(search.name)" class="tuma">
            <input type="text" name="name" #name='ngModel' [(ngModel)]='search.name' id="user"
              placeholder="Enter GithubName">
            <button class="button">Search</button>
          </form>
        </div>

      </div>
    </div>
    <div class="col-sm">
      <div *ngIf="profile" class="side column">
        <div class="image">
          <img class="rounded-circle z-depth-10" src="{{ profile.avatar_url}}" alt="profileimg"
            data-holder-rendered="true"><br>
          <a href="{{profile.html_url}}" target="_blank"><b>VIEW PROFILE</b></a>
        </div>
        <ul>
          <li class="Username"><strong>Name:</strong>{{profile.name}}</li>
          <li class="name"><strong>Username:</strong>{{profile.login}}</li>
          <li *ngIf="profile.bio"><strong>Bio:</strong> {{profile.bio}}</li>
          <li class="followers"><strong>Followers:</strong>{{profile.followers}}</li>
          <li class="following"><strong>following:</strong>{{profile.following}}</li>
          <li class="prepos"><strong>public_repos:</strong> {{profile.public_repos}}</li>
        </ul>
      </div>
    </div>
  </div>
  <hr>

  <div class="row">
    <div *ngFor="let repos of repos" class="col-4 card">
      <h4 class="card-title"><small style='text-align: center'>
          :{{repos.name}}</small></h4>
      <p class="card-text">{{repos.description}}<a href="{{repos.html_url}}" target="_blank"><br> VIEW</a></p>

    </div>
  </div>
    </div>
